<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'add_purchase_view' %}">Add Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  aria-current="page" href="{% url 'main_products_view' %}">Perfomance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'customers.main' %}">Costumer Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'sales_view'%}">Salesperson Performance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'upload-view' %}">Upload</a>
          </li>
        </ul>
        <span class="navbar-text">
          
          {% if user.is_authenticated %}
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
          {% endif %}
        </span>
      </div>
    </div>
  </nav>